{
    admin off
    auto_https disable_redirects
    servers {
        protocols h1 h2
    }
}

www.{主域名} {
    tls {
        dns cloudflare {cloudflare_api_token}
    }

    encode gzip

    handle_path /.well-known/acme-challenge/* {
        file_server
    }

     reverse_proxy xy.czc.cloudns.biz:4567 {
            transport http {
                versions h11 h2
            }
            header_up Host {host}
            header_up X-Real-IP {remote_addr}
            header_up X-Forwarded-For {remote_addr}
            header_up X-Forwarded-Proto {scheme}
      }
    

    
       
    
}

tailscale.{主域名} {
   tls {
        dns cloudflare {cloudflare_api_token}
    }

    encode gzip

    handle_path /.well-known/acme-challenge/* {
        file_server
    }
	
    reverse_proxy xy.czc.cloudns.biz:8080 {
            transport http {
                versions h11 h2
            }
            header_up Host {host}
            header_up X-Real-IP {remote_addr}
            header_up X-Forwarded-For {remote_addr}
            header_up X-Forwarded-Proto {scheme}
        }
}